<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Update device management data</h3>
</div>
<div class="modal-body" id="modal-body">

    <!--<form class="form-inline" >-->
        <!--<div ng-repeat="x in labels">-->
            <!--<label for="{{x}}" for="inlineFormInput">{{x}} {{$index+1}}</label>-->
            <!--<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"  type="text" name="{{x}}"  ng-model="ngModelinputs[labels[$index]]" required>-->
        <!--</div>-->
    <!--</form>-->

    <form name='modelForm' novalidate>
        <!--show data-->
        <div  class="form-group row"  ng-repeat="x in labels">
                <label for="{{x}}" class=" col-form-label col-sm-4 text-right">{{$index+1}} {{x}}</label>
            <div class="col-sm-5">
                <input  type="text" name="{{x}}" class="form-control"   ng-model="ngModelinputs[labels[$index]]" required>
            </div>
        </div>
        <!--end data-->


        <!--buttons-->
        <div class="form-group row">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-success pull-right" type="button" ng-click="ok()">Update</button>


        </div>
        <!--end buttons-->
    </form>
</div>
<div class="modal-footer">

</div>