
<div class="container-fluid" ng-controller="showDeviceDataController">
     <br>
    <div ng-if="deviceList.show" dismiss-on-timeout="10000" uib-alert class=" alert {{deviceList.type}}" close="deviceList.closeAlert()">{{deviceList.msg}}</div>
    <uib-accordion class="col-sm-9">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <div>
                    <strong>filter <i class="pull-right glyphicon" ng-class="{'fa fa-angle-double-up fa-lg': status.open, 'fa fa-angle-double-down fa-lg': !status.open}"></i></strong>
                </div>
            </uib-accordion-heading>
            <form class="form-inline" id="filter">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <label for="device_sn">Device SN:</label>
                    <input type="text" ng-model="deviceList.tableParams.filter().device_sn" class="form-control mb-2 mr-sm-2 mb-sm-0" name="device_sn" placeholder="Device SN">
                </div>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <label  for="clinic">Parent Clinic:</label>
                    <input type="text" ng-model="deviceList.tableParams.filter().parent_clinic"  class="form-control form-control mb-2 mr-sm-2 mb-sm-0" name="parent_clinic" placeholder="Parent Clinic">
                </div>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <label  for="clinic">Sub Clinic:</label>
                    <input type="text" ng-model="deviceList.tableParams.filter().sub_clinic"  class="form-control form-control mb-2 mr-sm-2 mb-sm-0" name="sub_clinic" placeholder="Sub Clinic">
                </div>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <label  for="status">Device status:</label>
                    <input type="text" ng-model="deviceList.tableParams.filter().status" class="form-control form-control mb-2 mr-sm-2 mb-sm-0" name="status" placeholder="Device Status">
                </div>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <label  for="location">Device location:</label>
                    <input type="text" ng-model="deviceList.tableParams.filter().location" class="form-control form-control mb-2 mr-sm-2 mb-sm-0" name="location" placeholder="Device Location">
                </div>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <br>
                    <button class="btn btn-primary btn-sm" ng-disabled="!deviceList.tableParams.hasFilter()" ng-click="deviceList.tableParams.filter({})">Clear filters</button>
                </div>
            </form>
        </div>
    </uib-accordion>
    <button class="col-sm-offset-1 col-sm-2 btn btn-default add_new_row" ng-click="deviceList.createNew()">Create New</button>

<!--begin table-->
    <div class="container-fluid">
        <table ng-table="deviceList.tableParams" class="table table-condensed table-hover table-responsive">
            <tr ng-repeat="row in $data">
                <!--btns for edit and delete-->
                <td title="'Actions'">
                    <div style="width:80px">
                        <button  class=" btn btn-default btn-sm" ng-click="deviceList.showModal(row, 'lg')">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-danger btn-sm" ng-click="deviceList.deleteModal(row)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </td>
                <!--<td title="'Purchase Order'" sortable="'purchase_order'">{{row.purchase_order}}</td>-->
                <!--<td title="'Registration Date'" sortable="'registration_date'">{{row.registration_date | date: 'yyyy-MM-dd' }}</td>-->
                <td title="'Device SN'" sortable="'device_sn'">
                    <div style="width:100px" ng-click="deviceList.showDeviceDetail(row)">
                        <a>{{row.device_sn}}</a>
                    </div>
                </td>
                <!--<td title="'ICCID'" sortable="'iccid'">{{row.iccid}}</td>-->
                <!--<td title="'IMEI'" sortable="'imei'">{{row.imei}}</td>-->
                <!--<td title="'Model Number'" sortable="'model_number'">{{row.model_number}}</td>-->
                <!--<td title="'Model Description'" sortable="'model_description'">{{row.model_description}}</td>-->
                <!--<td title="'Firmware Version'" sortable="'firmware_version'">{{row.firmware_version}}</td>-->
                <!--<td title="'Manufacturer'" sortable="'manufacturer'">{{row.manufacturer}}</td>-->
                <!--<td title="'Points_to'" sortable="'points_to'">{{row.points_to}}</td>-->
                <!--<td title="'Use Zywie SIM'" sortable="'use_zywie_sim'">{{row.use_zywie_sim}}</td>-->
                <!--<td title="'SIM Provider'" sortable="'sim_provider'">{{row.sim_provider}}</td>-->
                <!--<td title="'Zywie Logo'" sortable="'zywie_logo'">{{row.zywie_logo}}</td>-->
                <!--<td title="'Wyless Provision Date'" sortable="'wyless_provision_date'">{{row.wyless_provision_date | date: 'yyyy-MM-dd' }}</td>-->
                <!--<td title="'Device Test Date'" sortable="'device_test_date'">{{row.device_test_date | date: 'yyyy-MM-dd' }}</td>-->
                <!--<td title="'Device Suspension Date'" sortable="'device_suspension_date'">{{row.device_suspension_date | date: 'yyyy-MM-dd' }}</td>-->
                <td title="'Status'" sortable="'status'">
                    <div style="width:100px" ng-style="deviceList.set_color(row.status)">{{row.status}}</div>
                </td>
                <td title="'Location'" sortable="'location'">
                    <div style="width:150px">{{row.location}}</div>
                </td>
                <!--<td title="'Checked Out By'" sortable="'checked_out_by'">{{row.checked_out_by}}</td>-->
                <!--<td title="'Checked Out Date'" sortable="'checked_out_date'">{{row.checked_out_date | date: 'yyyy-MM-dd' }}</td>-->
                <!--<td title="'Checked In By'" sortable="'checked_in_by'">{{row.checked_in_by}}</td>-->
                <!--<td title="'Checked In Date'" sortable="'checked_in_date'">{{row.checked_in_date | date: 'yyyy-MM-dd' }}</td>-->
                <td title="'Salesteam'" sortable="'salesteam'">
                    <div style="width:100px">{{row.salesteam}}</div>
                </td>
                <td title="'Salesperson'" sortable="'salesperson_name'">
                    <div style="width:100px">{{row.salesperson_name}}</div>
                </td>
                <!--<td title="'Enterprise ID'" sortable="'enterprise_id'">-->
                    <!--<div style="width:100px">{{row.enterprise_id}}</div>-->
                <!--</td>-->
                <td title="'Parent Clinic'" sortable="'parent_clinic'">
                    <div style="width:200px">{{row.parent_clinic}}</div>
                </td>
                <td title="'Sub Clinic'" sortable="'sub_clinic'">
                    <div style="width:200px">{{row.sub_clinic}}</div>
                </td>
                <td title="'Physician'" sortable="'physician'">
                    <div style="width:150px">{{row.physician}}</div>
                </td>
                <td title="'Billable'" sortable="'billable'">
                    <div style="width:100px">{{row.billable}}</div>
                </td>
                <!--<td title="'Lease'" sortable="'lease'">{{row.lease}}</td>-->
                <!--<td title="'Lease Price(month)'" sortable="'lease_price_per_month'">{{row.lease_price_per_month}}</td>-->
                <!--<td title="'Lease Start Date'" sortable="'lease_start_date'">{{row.lease_start_date | date: 'yyyy-MM-dd' }}</td>-->
            </tr>
        </table>
    </div>
</div>
