<div class="modal-header">
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name='modelForm' novalidate>
        <div  class="form-group row " ng-repeat="x in labels">
            <div class="col-sm-3">
                <label for="{{x}}" class=" col-form-label col-sm-4 text-right">{{x}} {{$index}}</label>
            </div>
            <div class="col-sm-6">
                <input  type="text" name="{{x}}" class="form-control" name="{{x}}"  ng-model="ngModelinputs[labels[$index]]" required>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Update</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>