<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Confirm to delete it</h3>
</div>
    <div class="modal-body" id="modal-body">
        <table class="table">
            <tr ng-repeat="(key,value) in items ">
                <td class="text-capitalize text-right">{{key}}</td>
                <td class="text-left"><strong>{{value}}</strong></td>
            </tr>
        </table>

        <div class="modal-footer">
            <button class="btn btn-default col-sm-3" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-danger col-sm-3 pull-right" type="button" ng-click="ok()">Delete</button>
        </div>