<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Update Device Management</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name='modalForm' class="modal_form" novalidate >
        <!--show data-->
        <div class="form-group row">
            <label for=" purchase_order" class="col-sm-3 col-form-label text-right">Purchase Order</label>
            <div class="col-sm-6">
                <input  class="form-control" type="text" name="purchase_order" ng-model="ngModalInputs.purchase_order">
            </div>
        </div>
        <div class="form-group row">
            <label for=" registration_date" class="col-sm-3 col-form-label text-right">Registration Date</label>
            <div class="col-sm-6">
                <input type="text" placeholder="yyyy-MM-dd" ng-pattern="/^\d{4}-\d{1,2}-\d{1,2}$/" ng-class="{highlight: modalForm.registration_date.$invalid}" class="form-control" name="registration_date" ng-model="ngModalInputs.registration_date">
                <span class='form_msg' ng-if="modalForm.registration_date.$invalid && modalForm.registration_date.$touched">please input date in format yyyy-MM-dd as 2017-4-12</span>
            </div>
        </div>
        <div class="form-group row">
            <label for=" device_sn" class="col-sm-3 col-form-label text-right">Device SN *</label>
            <div class="col-sm-6">
                <input ng-class="{highlight: modalForm.device_sn.$error.required || modalForm.device_sn.$invalid}" class="form-control"
                       type="text" name="device_sn" ng-model="ngModalInputs.device_sn" ng-pattern="/^\d{7}$/" required>
                <span ng-if="modalForm.device_sn.$error.required || modalForm.device_sn.$invalid" class="form_msg">Required device SN, it must contain 7 digits</span>
            </div>
        </div>
        <div class="form-group row">
            <label for=" iccid" class="col-sm-3 col-form-label text-right">ICCID</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="iccid" ng-model="ngModalInputs.iccid">
            </div>
        </div>
        <div class="form-group row">
            <label for=" imei" class="col-sm-3 col-form-label text-right">IMEI</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="imei" ng-model="ngModalInputs.imei">
            </div>
        </div>
        <div class="form-group row">
            <label for=" model_number" class="col-sm-3 col-form-label text-right">Model Number</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="model_number" ng-model="ngModalInputs.model_number">
            </div>
        </div>
        <div class="form-group row">
            <label for=" model_description" class="col-sm-3 col-form-label text-right">Model Description</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.model_description" class="form-control"
                        ng-options="model for model in model_description">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" firmware_version" class="col-sm-3 col-form-label text-right">Firmware Version</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.firmware_version" class="form-control"
                        ng-options="firmware for firmware in firmware_version">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" manufacturer" class="col-sm-3 col-form-label text-right">Manufacturer</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.manufacturer" class="form-control"
                        ng-options="m for m in manufacturer">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" points_to" class="col-sm-3 col-form-label text-right">Points to</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.points_to" class="form-control"
                        ng-options="p for p in points_to">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" use_zywie_sim" class="col-sm-3 col-form-label text-right">Use Zywie SIM</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.use_zywie_sim" class="form-control"
                        ng-options="y for y in YesOrNo">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" sim_provider" class="col-sm-3 col-form-label text-right">SIM Provider</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.sim_provider" class="form-control"
                        ng-options="sim for sim in sim_provider">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" zywie_logo" class="col-sm-3 col-form-label text-right">Zywie Logo</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.zywie_logo" class="form-control"
                        ng-options="y for y in YesOrNo">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" wyless_provision_date" class="col-sm-3 col-form-label text-right">Wyless Provision Date</label>
            <div class="col-sm-6">
                <input type="text" placeholder="yyyy-MM-dd"  ng-pattern="/^\d{4}-\d{1,2}-\d{1,2}$/" ng-class="{highlight: modalForm.wyless_provision_date.$invalid}" class="form-control" name="wyless_provision_date" ng-model="ngModalInputs.wyless_provision_date">
                <span class='form_msg' ng-if="modalForm.wyless_provision_date.$invalid && modalForm.wyless_provision_date.$touched">please input date in format yyyy-MM-dd as 2017-4-12</span>
            </div>
        </div>
        <div class="form-group row">
            <label for=" device_test_date" class="col-sm-3 col-form-label text-right">Device Test Date</label>
            <div class="col-sm-6">
                <input type="text" placeholder="yyyy-MM-dd" ng-pattern="/^\d{4}-\d{1,2}-\d{1,2}$/" ng-class="{highlight: modalForm.device_test_date.$invalid}" class="form-control" name="device_test_date" ng-model="ngModalInputs.device_test_date">
                <span class='form_msg' ng-if="modalForm.device_test_date.$invalid && modalForm.device_test_date.$touched">please input date in format yyyy-MM-dd as 2017-4-12</span>
            </div>
        </div>
        <div class="form-group row">
            <label for=" device_suspension_date" class="col-sm-3 col-form-label text-right">Device Suspension Date</label>
            <div class="col-sm-6">
                <input type="text" placeholder="yyyy-MM-dd"  ng-pattern="/^\d{4}-\d{1,2}-\d{1,2}$/" ng-class="{highlight: modalForm.device_suspension_date.$invalid}" class="form-control" name="device_suspension_date" ng-model="ngModalInputs.device_suspension_date">
                <span class='form_msg' ng-if="modalForm.device_suspension_date.$invalid && modalForm.device_suspension_date.$touched">please input date in format yyyy-MM-dd as 2017-4-12</span>
            </div>
        </div>
        <div class="form-group row">
            <label for=" status" class="col-sm-3 col-form-label text-right">Device Status</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.status" class="form-control" name="status"
                        ng-options="s for s in status">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" location" class="col-sm-3 col-form-label text-right">Device Location</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.location" class="form-control"
                        ng-options="l for l in location">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" checked_out_by" class="col-sm-3 col-form-label text-right">Checked Out By</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.checked_out_by" class="form-control"
                        ng-options="c for c in checked_out_by">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" checked_out_date" class="col-sm-3 col-form-label text-right">Checked Out Date</label>
            <div class="col-sm-6">
                <input type="text" placeholder="yyyy-MM-dd"  ng-pattern="/^\d{4}-\d{1,2}-\d{1,2}$/" ng-class="{highlight: modalForm.checked_out_date.$invalid}" class="form-control" name="checked_out_date" ng-model="ngModalInputs.checked_out_date">
                <span class='form_msg' ng-if="modalForm.checked_out_date.$invalid && modalForm.checked_out_date.$touched">please input date in format yyyy-MM-dd as 2017-4-12</span>
            </div>
        </div>
        <div class="form-group row">
            <label for=" checked_in_by" class="col-sm-3 col-form-label text-right">Checked In By</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.checked_in_by" class="form-control"
                        ng-options="c for c in checked_out_by">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" checked_in_date" class="col-sm-3 col-form-label text-right">Checked In Date</label>
            <div class="col-sm-6">
                <input type="text" placeholder="yyyy-MM-dd" ng-pattern="/^\d{4}-\d{1,2}-\d{1,2}$/" ng-class="{highlight: modalForm.checked_in_date.$invalid}" class="form-control" name="checked_in_date" ng-model="ngModalInputs.checked_in_date">
                <span class='form_msg' ng-if="modalForm.checked_in_date.$invalid && modalForm.checked_in_date.$touched">please input date in format yyyy-MM-dd as 2017-4-12</span>
            </div>
        </div>
        <div class="form-group row">
            <label for=" salesteam" class="col-sm-3 col-form-label text-right">Salesteam</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="salesteam" ng-model="ngModalInputs.salesteam">
            </div>
        </div>
        <div class="form-group row">
            <label for=" salesperson_name" class="col-sm-3 col-form-label text-right">Salesperson Name</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="salesperson_name" ng-model="ngModalInputs.salesperson_name">
            </div>
        </div>
        <div class="form-group row">
            <label for=" enterprise_id" class="col-sm-3 col-form-label text-right">Enterprise ID</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="enterprise_id" ng-model="ngModalInputs.enterprise_id">
            </div>
        </div>
        <div class="form-group row">
            <label for=" parent_clinic" class="col-sm-3 col-form-label text-right">Parent Clinic</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ngModalInputs.parent_clinic" uib-typeahead="clinic for clinic in parent_clinics | filter:$viewValue | limitTo:8" class="form-control">
            </div>
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div class="form-group row">
            <label for=" sub_clinic" class="col-sm-3 col-form-label text-right">Sub Clinic</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ngModalInputs.sub_clinic" uib-typeahead="subclinic for subclinic in sub_clinics | filter:$viewValue | limitTo:8" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for=" physician" class="col-sm-3 col-form-label text-right">Physician</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ngModalInputs.physician" uib-typeahead="physician for physician in physicians | filter:$viewValue | limitTo:8" class="form-control">
                <!--<input class="form-control" type="text" name="physician" ng-model="ngModalInputs.physician">-->
            </div>
        </div>
        <div class="form-group row">
            <label for=" billable" class="col-sm-3 col-form-label text-right">Billable</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.billable" class="form-control"
                        ng-options="y for y in YesOrNo">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" lease" class="col-sm-3 col-form-label text-right">Lease</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.lease" class="form-control"
                        ng-options="l for l in YesOrNo">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for=" lease_price_per_month" class="col-sm-3 col-form-label text-right">Lease Price(month)</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="lease_price_per_month" ng-model="ngModalInputs.lease_price_per_month">
            </div>
        </div>
        <div class="form-group row">
            <label for=" lease_start_date" class="col-sm-3 col-form-label text-right">Lease Start Date</label>
            <div class="col-sm-6">
                <input type="text" placeholder="yyyy-MM-dd"  ng-pattern="/^\d{4}-\d{1,2}-\d{1,2}$/" ng-class="{highlight: modalForm.lease_start_date.$invalid}"
                       class="form-control" name="lease_start_date" ng-model="ngModalInputs.lease_start_date">
                <span class='form_msg' ng-if="modalForm.lease_start_date.$invalid && modalForm.lease_start_date.$touched">please input date in format yyyy-MM-dd as 2017-4-12</span>
            </div>
        </div>
        <div class="form-group row">
            <label for=" lease_end_date" class="col-sm-3 col-form-label text-right">Lease End Date</label>
            <div class="col-sm-6">
                <input type="text" ng-class="{highlight: modalForm.lease_end_date.$invalid}" class="form-control" name="lease_end_date"
                       placeholder="yyyy-MM-dd" ng-pattern="/^\d{4}-\d{1,2}-\d{1,2}$/" ng-model="ngModalInputs.lease_end_date">
                <span class='form_msg' ng-if="modalForm.lease_end_date.$invalid && modalForm.lease_end_date.$touched">date format yyyy-MM-dd as 2017-4-12</span>
            </div>
        </div> <!--end data-->

         <button class="btn btn-default col-sm-3" type="button" ng-click="cancel()">Cancel</button>
         <button class="btn btn-danger col-sm-3 pull-right" type="button" ng-click="ok()" ng-disabled="modalForm.$invalid" >Update</button>
    </form>
</div>