
<div class="container" ng-controller="deviceManagementInsertController">

    <div ng-if="deviceCtrl.show" dismiss-on-timeout="5000" uib-alert class=" alert {{deviceCtrl.type}}" close="deviceCtrl.closeAlert()">{{deviceCtrl.msg}}</div>

    <fieldset>
        <div class="text-center">
            <h3>Device Management</h3>
            <h5>Date in format in 'yyyy-mm-dd'.  eg: '2017-3-02', * required fields</h5>
        </div>
        <!--<buton class=" btn btn-default text-right" ng-click="DeviceCtrl.uploadFile()">Batch upload</buton>-->

        <!--bath upload file by toggle collapse-->
        <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Batch Upload</button>
        <hr>
        <div uib-collapse="isCollapsed">
            <div class="well well-lg">
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>
                <button class="btn btn-primary">submit</button>
            </div>

        </div>
        <!--end-->



    <form name='regForm' novalidate>
        <div  class="form-group row " ng-repeat="x in deviceCtrl.tableColumns ">
            <!--add label-->
            <label for="{{x}}" class=" col-form-label col-sm-4 text-right">{{$index+1}} {{x}} <span ng-if="$index==3">*</span></label>

            <!--add input-->
            <div class="col-sm-6" ng-switch="$index" >
<!--customize input as radio selection-->
                <div ng-switch-when="13">
                    <label class="btn"><input  type="radio" class="form-check" name="{{x}}" ng-model="deviceCtrl.reg[$index]" value="Y"> Yes</label>
                    <label class="btn"><input  type="radio" class="form-check" name="{{x}}" ng-model="deviceCtrl.reg[$index]" value="N"> No</label>
                </div>
                <div ng-switch-when="28">
                    <label class="btn"><input  type="radio" class="form-check" name="{{x}}" ng-model="deviceCtrl.reg[$index]" value="Y"> Yes</label>
                    <label class="btn"><input  type="radio" class="form-check" name="{{x}}" ng-model="deviceCtrl.reg[$index]" value="N"> No</label>
                </div>
                <div ng-switch-when="29">
                    <label class="btn"><input  type="radio" class="form-check" name="{{x}}" ng-model="deviceCtrl.reg[$index]" value="Y"> Yes</label>
                    <label class="btn"><input  type="radio" class="form-check" name="{{x}}" ng-model="deviceCtrl.reg[$index]" value="N"> No</label>
                </div>
                <div ng-switch-when="11">
                    <label class="btn"><input  type="radio" class="form-check" name="{{x}}" ng-model="deviceCtrl.reg[$index]" value="Y"> Yes</label>
                    <label class="btn"><input  type="radio" class="form-check" name="{{x}}" ng-model="deviceCtrl.reg[$index]" value="N"> No</label>
                </div>
<!--end radio -->

<!--customize input as dropdown select-->
                <div ng-switch-when="8">
                    <select class="form-control" name="{{x}}" ng-model="deviceCtrl.reg[$index]">
                        <!--<option>select</option>-->
                        <option value="V2.5">V2.5</option>
                        <option value="V2.6">V2.6</option>
                        <option value="V2.7">V2.7</option>
                        <option value="V2.8">V2.8</option>
                    </select>
                </div>
                <!--end select option-->
                <div ng-switch-when="10">
                    <select class="form-control" name="{{x}}" ng-model="deviceCtrl.reg[$index]">
                        <!--<option>select</option>-->
                        <option value="AWS-prod">AWS-prod</option>
                        <option value="AWS-dev">AWS-dev</option>
                    </select>
                </div>


                <div ng-switch-when="3">
                    <input  type="text" class="form-control" name="{{x}}"  ng-model="deviceCtrl.reg[$index]" placeholder="{{x}}" required>
                </div>

                <input ng-switch-default type="text" class="form-control" name="{{x}}"  ng-model="deviceCtrl.reg[$index]" placeholder="{{x}}">


            </div>
        </div>
    </form>

        <!--start and end buttons-->
        <div>
            <div class="col-sm-8">
                <button class="btn btn-danger"  ui-sref="public.home">Cancel</button>
            </div>
            <div class="col-sm-4">
                <button  class="btn btn-primary" ng-disabled="regForm.$invalid" ng-click="deviceCtrl.submit()">Save</button>
            </div>
        </div>
        <!--nend-->
    </fieldset>
</div>

