<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Tool</title>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/restaurant.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/public.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Libs -->
    <script src="/lib/jquery-2.1.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/87263e1389.js"></script>
    <!--<script src="/lib/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/lib/angular-ui-router.min.js"></script>
    <script src="lib/ui-bootstrap-2.4.0.min.js"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <!-- Main Device Module -->
    <script src="src/device.module.js"></script>
    <!--javascript file-->
    <script src="javascripts/app.js"></script>
    <!-- Common Module -->
    <script src="src/common/common.module.js"></script>
    <script src="src/common/loading/loading.component.js"></script>
    <script src="src/common/loading/loading.interceptor.js"></script>
    <script src="src/common/device.service.js"></script>
    <!-- Public device management Module -->
    <script src="src/public/public.module.js"></script>
    <script src="src/public/public.routes.js"></script>
    <script src="src/public/home/home.controller.js"></script>
    <script src="src/public/public.controller.js"></script>
    <script src="src/public/device-management/device-management.insert.controller.js"></script>
    <script src="src/public/device-management/device-management.query.controller.js"></script>
    <script src="src/public/device-management/device-management.deviceList.controller.js"></script>
    <script src="src/public/device.controller.js"></script>
    <script src="src/public/device-inventory/device-inventory.controller.js"></script>
    <script src="src/public/accessory-inventory/accessory.controller.js"></script>
    <script src="src/public/device-history/device-history.controller.js"></script>
    <script src="src/public/signup/signup.controller.js"></script>
    <!--customers-->
    <script src="src/public/customer-management/customers.controller.js"></script>
    <script src="src/public/dashboard/dashboard.controller.js"></script>
    <!--ng cookies-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
  </head>

  <body ng-app="device">
  <!--header -->

    <ui-view>
      <div class="container" id="login_div">
        <!--<button class="btn btn-default" ui-sref="register">sign up</button>-->
        <button class="btn btn-default" ui-sref="login">log in</button>
      </div>


      <!--<div class="text-center initial-loading">-->
        <!--<h2>Loading Site...</h2>-->
      <!--</div>-->
    </ui-view>

  </body>
</html>
