body {
  padding-top: 80px;
  font: 14px  Helvetica, Arial, sans-serif;
}
.navbar {
  background-color: #adadad;;
}
.navbar-default .navbar-nav>li>a {
  color:white;
}

#footer {
  background-color: #dedede;;
  color: white;
  font-size: small;
}
#filter label {
  font-weight: 100;
}
/*format alert msg in form*/
.form_msg {
  color: red;
  font-size: small;
}
.form_comment {
  font-size: small;
  font-weight: 200;
  color: gray;
}
#query_result {
  background: #f2dede;
  color:#a94442;
  font-size: large;
}
.add_new_row {
  border: 1px solid black;
}

.table {
  border: 1px  solid  #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



th {
  font-size: small;
  font-weight: bold;
  background-color: rgba(225, 225, 225, 0.61);
}
td, th {
   text-align: center;
 }
th {
  font-weight: bold;
}

.modal_form {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 60px;
}

.highlight {
  border: 1px solid red;
  background-color: #f2dede;
}

.list-group label{
  color: gray;
}

/*ng-table format*/
td input {
  background-color: white;
  height:40px;
  width: 100%;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;

}

textarea.form-control {
  height: 100px;
}

/*charts css*/
#pieChart {
  width:230px;
  height:230px;
}

#purchase_order_chart {
  width: 1000px;
  height: 300px;
}
.dashboardTables th {
  background-color: green;
  color: white;
}
/*.fa-spin {*/
  /*position: fixed;*/
  /*top:45%;*/
  /*left:45%;*/
/*}*/
#login {
  position: fixed;
  width:300px;
  height:300px;
  top:25%;
  left:30%;
  border: 1px solid lightgray;
  border-radius: 2px;
}
#login input, #login button {
  width:270px;
}
#register {
  width:600px;
  left:15%;
}
#register button {
  width:100px;
}