
<div class="container" ng-controller="deviceManagementController">
    <fieldset>
    <h3 class="text-center">Device Management</h3>
    <form name='regForm' novalidate>

        <div  class="form-group row" ng-repeat="x in deviceCtrl.columnNames">
            <label for="{{x}}" class="col-sm-4 col-form-label text-right">{{x}}</label>
                <div class="col-sm-6">
                <input type="text" class="form-control" name="{{x}}"
                ng-model="reg.user.x">
                {{ reg.x }}
                </div>
        </div>
    </form>
    </fieldset>
</div>

<div class="container">
    <div class="col-sm-8">
        <button class="btn btn-danger" ng-disabled="regForm.$invalid" ng-click="reg.cancel()">Cancel</button>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary" ng-disabled="regForm.$invalid" ng-click="reg.submit()">Submit</button>
    </div>
    <br>
    <span ng-if="reg.saved">Your information has been saved</span>
</div>
