<div class="container" ng-controller="customersController" >
    <br>
    <div class="row">
        <form class="form-inline">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <label for="parent_clinic" >Parent Clinic:</label>
                <input class="form-control" type="text" ng-model="customerCtrl.tableParams.filter().parent_clinic"
                       name="parent_clinic" placeholder="Parent Clinic" ng-click="customerCtrl.onTextClick($event)">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <label for="sub_clinic" >Sub Clinic:</label>
                <input class="form-control" type="text" ng-model="customerCtrl.tableParams.filter().sub_clinic" name="sub_clinic"
                       placeholder="Sub Clinic" ng-click="customerCtrl.onTextClick($event)">
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <label for="device_sn" >Device SN:</label>
                <input class="form-control" type="text" ng-model="customerCtrl.tableParams.filter().device_sn" name="device_sn"
                       placeholder="Device SN" ng-click="customerCtrl.onTextClick($event)">
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div>
                <h4 class="text-center">A list of devices for customers</h4>
                <br>
                <table class="customerTable"   ng-table="customerCtrl.tableParams" >
                    <tr class="ng-table-group" ng-repeat-start="group in $groups">
                        <td >
                            <a href="" ng-click="group.$hideRows = !group.$hideRows">
                                <span class="glyphicon" ng-class="{ 'fa fa-plus-square': group.$hideRows, 'fa fa-minus-square': !group.$hideRows }"></span>
                                <strong >{{ group.value }}</strong>
                            </a>
                        </td>
                        <!--the purpose of td tag is formatting the row with the same color as {{group.value}}-->
                        <td></td>
                    </tr>
                    <tr ng-hide="group.$hideRows"  ng-repeat="row in group.data">
                        <td sortable="'sub_clinic'" data-title="'Clinic Name'" groupable="'sub_clinic'">
                            {{row.sub_clinic}}
                        </td>
                        <td sortable="'device_sn'" data-title="'Billable Device SN'">
                            {{row.device_sn}}
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td><strong><i>Sub Total</i></strong></td>
                        <td><strong>{{group.data.length}}</strong></td>
                    </tr>
                    <tfoot ng-if="customerCtrl.isLastPage()">
                    <tr>
                        <td><strong>Grant Total</strong></td>
                        <td><strong>{{customerCtrl.totalDevices}}</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>
