
test

<div class="container table-responsive" ng-controller="accessoryController" >
    <br>
    <form class="container form-group">
        <label >Search any<input class="form-control" ng-model="search.$"></label>
        <label>purchase order only <input class="form-control" ng-model="search.purchase_order"></label>
        <!--<button type="button" class="btn btn-default" ng-click="reset()">Reset</button>-->
    </form>

    <table ng-table-dynamic="accessoryCtrl.tableParams with accessoryCtrl.cols"  class=" table  table-condensed table-hover table-striped" >
        <td><button class="btn btn-xs btn-warning">Edit</button></td>
        <tr ng-repeat="row in $data | filter:search:strict">

            <td ng-repeat="col in $columns">  {{row[col.field]}}</td>


        </tr>
    </table>



    <!--<div class="container table-responsive" >-->
        <!--<table  class="table table-condensed  table-hover table-striped"  >-->
            <!--&lt;!&ndash;table column names&ndash;&gt;-->
            <!--<th>Actions</th>-->
            <!--<th ng-repeat="title in accessoryCtrl.tableColumns">{{title}}</th>-->
            <!--<th>save</th>-->

            <!--&lt;!&ndash;table data&ndash;&gt;-->
            <!--<tr ng-repeat="value in inventoryCtrl.results | filter:search:strict   track by $index ">-->
                <!--&lt;!&ndash;set edit and delete buttons&ndash;&gt;-->
                <!--<td><button  class=" btn btn-default" ng-click="accessoryCtrl.edit($index)"  >-->
                    <!--<span class="glyphicon glyphicon-pencil"></span></button>-->
                    <!--<button class="btn btn-danger" ng-click="accessoryCtrl.delete($index)"  >-->
                        <!--<span class="glyphicon glyphicon-trash"></span></button>-->
                <!--</td>-->

                <!--&lt;!&ndash;set data rows&ndash;&gt;-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].row" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].received_date" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].manufacturer_order_ID" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].order_id" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].purchase_order" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->

                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].manufacturer" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].accessory" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].lot_no" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].order_quantity" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].received_quantity" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->

                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].deficiency" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].deficient_received_date" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].shipping_status" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->
                <!--<td><input type="text" ng-model="accessoryCtrl.inputs[$index].total_price" ng-disabled="accessoryCtrl.cutoff[$index]"></td>-->


                <!--<td><button  class=" btn btn-primary btn-sm" ng-click="accessoryCtrl.save($index)">Save</button></td>-->

            <!--<tr>-->

        <!--</table>-->

    <!--</div>-->

</div>
