<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New Device History Data</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name='history_modalForm' novalidate class="modal_form">
        <!--show data-->
        <div uib-alert ng-if="showAlert" class="alert alert-danger">Please correct the follow errors:<br> {{error}}</div>
        <div class="form-group row">
            <label for="history_date" class="col-sm-3 col-form-label text-right">History Date</label>
            <div class="col-sm-6">
                  <input ng-style="history_date_style" placeholder="(yyyy-MM-dd)" type="text" class="form-control" uib-datepicker-popup ng-model="ngModalInputs.history_date" is-open="opened" ng-focus="opened=true" />
            </div>
        </div>
        <div class="form-group row">
            <label for="device_sn" class="col-sm-3 col-form-label text-right">Device SN*</label>
            <div class="col-sm-6">
                <input placeholder="Device SN*" ng-style="device_sn_style" class="form-control" type="text" name="device_sn" ng-model="ngModalInputs.device_sn" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="device_action" class="col-sm-3 col-form-label text-right">Device Action</label>
            <div class="col-sm-6">
                <select class="form-control" name="device_action" ng-model="ngModalInputs.device_action">
                    <option value="">---Select Action---</option> <!-- not selected / blank option -->
                    <option value="Inventory-Inactive">Inventory-Inactive</option>
                    <option value="Checked In">Checked In</option>
                    <option value="Checked Out">Checked Out</option>
                    <option value="Decommissioned">Decommissioned</option>
                    <option value="Defective">Defective</option>
                    <option value="Return-RMA">Return-RMA</option>
                    <option value="Sales Demo">Sales Demo</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="by_whom" class="col-sm-3 col-form-label text-right">By Whom</label>
            <div class="col-sm-6">
                <select class="form-control" name="by_whom" ng-model="ngModalInputs.by_whom" >
                    <option value="">---Please select---</option> <!-- not selected / blank option -->
                    <option value="Alex Armstrong">Alex Armstrong</option>
                    <option value="Emir Muhovic">Emir Muhovic</option>
                    <option value="Latha Ganeshan">Latha Ganeshan</option>
                    <option value="Sameer Adumala">Sameer AdumalaV</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-3 col-form-label text-right">Status</label>
            <div class="col-sm-6">
                <select class="form-control" name="status" ng-model="ngModalInputs.status">
                    <option value="">---Select Status---</option> <!-- not selected / blank option -->
                    <option value="beta site">beta site</option>
                    <option value="clinical trials">clinical trials</option>
                    <option value="customer">customer</option>
                    <option value="decommissioned">decommissioned</option>
                    <option value="defective">defective</option>
                    <option value="inventory active">inventory active</option>
                    <option value="inventory inactive">inventory inactive</option>
                    <option value="inventory suspended">inventory suspended</option>
                    <option value="refurbished">refurbished</option>
                    <option value="RMA">RMA</option>
                    <option value="sales_out">sales_out</option>
                    <option value="development">development</option>
                    <option value="sales demo">sales demo</option>
                    <option value="troubleshooting">troubleshooting</option>
                    <option value="sim switch">sim switch</option>
                    <option value="lost">lost</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="device_owner" class="col-sm-3 col-form-label text-right">Device Owner</label>
            <div class="col-sm-6">
                <input placeholder="Device Owner" class="form-control" type="text" name="device_owner" ng-model="ngModalInputs.device_owner">
            </div>
        </div>
        <div class="form-group row">
            <label for="replace_device" class="col-sm-3 col-form-label text-right">Replace Device</label>
            <div class="col-sm-6">
                <label class="btn"><input  type="radio" class="form-check" name="replace_device" ng-model="ngModalInputs.replace_device" value="Y"> Yes</label>
                <label class="btn"><input  type="radio" class="form-check" name="replace_device" ng-model="ngModalInputs.replace_device" value="N"> No</label>
            </div>
        </div>
        <div class="form-group row" ng-if="ngModalInputs.replace_device == 'Y'">
            <label for="replaced_device_sn" class="col-sm-3 col-form-label text-right">Replaced Device SN</label>
            <div class="col-sm-6">
                <input ng-style="replaced_device_sn_style" placeholder="Replaced Device SN" class="form-control" type="text" name="replaced_device_sn" ng-model="ngModalInputs.replaced_device_sn" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="note" class="col-sm-3 col-form-label text-right">Note</label>
            <div class="col-sm-6">
                <textarea class="form-control" type="text" name="note" ng-model="ngModalInputs.note"></textarea>
            </div>
        </div>
        <button class="btn btn-default col-sm-3" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger col-sm-3 pull-right" type="button" ng-click="ok()">Add</button>
    </form>
</div>