

<div class="container" ng-controller="deviceHistoryController" >
    <br>
    <form class="container form-group">
        <label >search any<input class="form-control" ng-model="search.$"></label>
        <label>history date  <input class="form-control" ng-model="search.history_date"></label>
        <label>device_sn  <input class="form-control" ng-model="search.device_sn"></label>
        <label>action  <input class="form-control" ng-model="search.device_action"></label>
        <label>device owner  <input class="form-control" ng-model="search.device_owner"></label>

    </form>

    <!--show device history table    -->
    <div class="container table-responsive">
        <table ng-table-dynamic="historyCtrl.tableParams with historyCtrl.cols"  class=" table  table-condensed table-hover table-striped" >
            <td><button class="btn btn-xs btn-warning">Edit</button></td>
            <tr ng-repeat="row in $data | filter:search:strict">

                <td ng-repeat="col in $columns">  {{row[col.field]}}</td>


            </tr>
        </table>
    </div>

</div>
