<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Update device history</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name='modalForm' novalidate class="modal_form">
        <div class="form-group row">
            <label for="history_date" class="col-sm-3 col-form-label text-right">History Date</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="history_date" ng-model="ngModalInputs.history_date">
            </div>
        </div>
        <div class="form-group row">
            <label for="device_sn" class="col-sm-3 col-form-label text-right">Device SN *</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="device_sn" ng-model="ngModalInputs.device_sn" ng-pattern="/^\d{7}$/" required>
                <span class='form_msg' ng-if="modalForm.device_sn.$error.required&& modalForm.device_sn.$touched"> Device SN required</span>
                <span class='form_msg' ng-if="modalForm.device_sn.$error.pattern && modalForm.device_sn.$touched"> Contain 7 digits</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="device_action" class="col-sm-3 col-form-label text-right">Device Action</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.device_action" class="form-control"
                        ng-options="action for action in options.device_action">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="by_whom" class="col-sm-3 col-form-label text-right">By Whom</label>
            <div class="col-sm-6">
                <input uib-typeahead="bywhom for bywhom in by_whom | filter:$viewValue | limitTo:8" type="text" class="form-control" ng-model="ngModalInputs.by_whom">
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-3 col-form-label text-right">Device Status</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.status" class="form-control"
                        ng-options="status for status in options.status">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="device_owner" class="col-sm-3 col-form-label text-right">Device Owner</label>
            <div class="col-sm-6">
                <input uib-typeahead="owner for owner in device_owner | filter:$viewValue | limitTo:8" type="text" class="form-control" ng-model="ngModalInputs.device_owner">
            </div>
        </div>
        <div class="form-group row">
            <label for="replace_device" class="col-sm-3 col-form-label text-right">Replace Device</label>
            <div class="col-sm-6">
                <select ng-model="ngModalInputs.replace_device" class="form-control"
                        ng-options="replaced for replaced in options.YesOrNo">
                </select>
            </div>
        </div>
        <div class="form-group row" ng-show="ngModalInputs.replace_device == 'Y'">
            <label for="replaced_device_sn" class="col-sm-3 col-form-label text-right">Replaced Device SN</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="replaced_device_sn" ng-model="ngModalInputs.replaced_device_sn" ng-pattern="/^\d{7}$/" required>
                <span class='form_msg' ng-if="modalForm.replaced_device_sn.$error.required&& modalForm.replaced_device_sn.$touched"> Replaced Device SN required</span>
                <span class='form_msg' ng-if="modalForm.replaced_device_sn.$error.pattern&& modalForm.replaced_device_sn.$touched"> Replaced Device SN contains 7 digits</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="note" class="col-sm-3 col-form-label text-right">Note</label>
            <div class="col-sm-6">
                <textarea class="form-control" type="text" name="note" ng-model="ngModalInputs.note"></textarea>
            </div>
        </div>
        <button class="btn btn-default col-sm-3" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger col-sm-3 pull-right" type="button" ng-click="ok()" ng-disabled="modalForm.$invalid">Update</button>
    </form>
</div>