

<div class="container-fluid" ng-controller="deviceHistoryController" >
    <div class="container-fluid">
        <br>
        <div ng-if="historyCtrl.show" dismiss-on-timeout="10000" uib-alert class=" alert {{historyCtrl.type}}" close="historyCtrl.closeAlert()">{{historyCtrl.msg}}</div>
        <uib-accordion class="col-sm-10">
            <div uib-accordion-group class="panel-default" is-open="open">
                <uib-accordion-heading>
                    <div>
                        <strong>filter <i class="pull-right glyphicon"  ng-class="{'fa fa-angle-double-up fa-lg': open, 'fa fa-angle-double-down fa-lg': !open}"></i></strong>
                    </div>
                </uib-accordion-heading>
                <form class="form-inline" id="filter">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <label for="device_sn">Device SN:</label>
                        <input type="text" ng-model="historyCtrl.tableParams.filter().device_sn" class="form-control mb-2 mr-sm-2 mb-sm-0" name="device_sn" placeholder="Device SN">
                    </div>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <label  for="history_date">History Date:</label>
                        <input type="text" ng-model="historyCtrl.tableParams.filter().history_date"  class="form-control form-control mb-2 mr-sm-2 mb-sm-0" name="history_date" placeholder="History Date">
                    </div>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <label  for="device_action">Device Action:</label>
                        <input type="text" ng-model="historyCtrl.tableParams.filter().device_action" class="form-control form-control mb-2 mr-sm-2 mb-sm-0" name="device_action" placeholder="Device Action">
                    </div>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <label  for="device_owner">Device Owner:</label>
                        <input type="text" ng-model="historyCtrl.tableParams.filter().device_owner" class="form-control form-control mb-2 mr-sm-2 mb-sm-0" name="device_owner" placeholder="Device Owner">
                    </div>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <label  for="replace_device">Replace Device:</label>
                        <input type="text" ng-model="historyCtrl.tableParams.filter().replace_device" class="form-control form-control mb-2 mr-sm-2 mb-sm-0" name="replace_device" placeholder="Replace Device">
                    </div>

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <br>
                        <button class="btn btn-primary btn-sm" ng-disabled="!historyCtrl.tableParams.hasFilter()" ng-click="historyCtrl.tableParams.filter({})">Clear filters</button>
                    </div>

                </form>

            </div>
        </uib-accordion>
        <button class=" col-sm-2 btn btn-default add_new_row"  ng-click="historyCtrl.create_history_data('lg')">Add new</button>
    </div>


    <!--show device history table    -->
    <div class="container-fluid">
        <table ng-table="historyCtrl.tableParams"  class="table table-condensed table-hover table-responsive" >
            <tr ng-repeat="row in $data ">
                <!--btns for edit and delete-->
                    <td title="'Action'">
                        <div style="width:80px">
                            <button  class=" btn btn-default btn-sm" ng-click="historyCtrl.showModal(row, 'lg')">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger btn-sm" ng-click="historyCtrl.deleteModal(row)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </td>
                <!--<td title="'Row'"  sortable="'row'">{{row.row}}</td>-->
                <td title="'History Date'"  sortable="'history_date'">
                    <div style="width:100px">{{row.history_date | date: 'yyyy-MM-dd'}}</div>
                </td>
                <td title="'Device SN'"  sortable="'device_sn'">
                    <div style="width:100px">{{row.device_sn}}</div>
                </td>
                <td title="'Action'"  sortable="'device_action'">
                    <div style="width:100px">{{row.device_action}}</div>
                </td>
                <td title="'By Whom'"  sortable="'by_whom'">
                    <div style="width:100px">{{row.by_whom}}</div>
                </td>
                <td title="'Status'"  sortable="'status'">
                    <div ng-style="historyCtrl.set_color(row.status)" style="width:150px">{{row.status}}</div>
                </td>
                <td title="'Device Owner'"  sortable="'device_owner'">
                    <div style="width:150px">{{row.device_owner}}</div>
                </td>
                <td title="'Replace Device'"  sortable="'replace_device'">
                    <div style="width:130px">{{row.replace_device}}</div>
                </td>
                <td title="'Replaced Device SN'"  sortable="'replaced_device_sn'">
                    <div style="width:100px">{{row.replaced_device_sn}}</div>
                </td>
                <td title="'Note'"  sortable="note">
                    <div style="width:150px">{{row.note}}</div>
                </td>


            </tr>
        </table>
    </div>

</div>
