
<div class="container"  ng-controller="registerController as reg">

    <fieldset>

        <h3 class="text-center">Registration</h3>
        <form name='regForm' novalidate>
            <div  class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" name="firstName" placeholder="Your First Name"
                       ng-model="reg.user.firstName"
                       required>
                {{ reg.user.firstName }}
                      <span ng-if="regForm.firstName.$error.required && regForm.firstName.$touched">
                        Please enter your first name
                      </span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" name="lastName" placeholder="Your Last Name"
                       ng-model="reg.user.lastName"
                       required>
                {{ reg.user.lastName }}
                      <span ng-if="regForm.lastName.$error.required && regForm.lastName.$touched">
                        Please enter your last name
                      </span>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username" placeholder="username"
                       ng-model="reg.user.username"
                       required>
                  <span ng-if="regForm.username.$error.required && regForm.username.$touched">
                      Please enter your usename
                  </span>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" placeholder="Email"
                       ng-model="reg.user.email"
                       required>
                  <span ng-if="regForm.email.$invalid && regForm.email.$touched">
                    Must be a valid email address: handle@domain format
                  </span>
            </div>
            <div class="form-group">
                <label for="passport1">New password:</label>
                <input type="password" class="form-control" name="password1" placeholder="password"
                       ng-model="reg.user.password1" required>
                  <span ng-if="regForm.password1.$invalid && regForm.password1.$touched">
                    Please enter password
                  </span>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="passport2">Enter new password again:</label>-->
                <!--<input type="password" class="form-control" name="password2" placeholder="password"-->
                       <!--ng-model="reg.user.password2" required>-->
                <!--<span ng-if="regForm.password2.$invalid && regForm.password2.$touched">Please enter password</span>-->
                <!--<span ng-if="reg.user.password2 != reg.user.password1 && reg.user.password2.$">-->
                <!--password is not the same-->
                <!--</span>-->
            <!--</div>-->


            <button class="btn btn-primary" ng-disabled="regForm.$invalid" ng-click="reg.submit()">sign up</button>

        </form>
    </fieldset>
    <span ng-if="reg.saved" >Thank you, your information has been saved!</span>

</div>

<br>
<div class="container">
    <a ui-sref="login">Already have an account, sign in here!</a>
</div>


